{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Iniciar Sesión</h1>
    
    <form action="{{ path('seguridad_login') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="_username" placeholder="Dirección de correo electrónico" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="_password" placeholder="Contraseña" required>
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-success">Iniciar Sesión</button>
        </div>        
    </form>
        <div class="row"><span>Si todavía no tienes una cuenta de usuario, haz clic en el siguiente enlace para</span><a href="{{ path('seguridad_registracion') }}">registrarte</a></div>

</div>
{% endblock %}
