{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Registracion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Registarse como usuario de Vocabuloso</h1>
    
    {{ form_start(form) }}
    {{ form_row(form.username, { "label": "Nombre de usuario", "attr": { "placeholder": "Elegir un nombre de usuario" }}) }}
    {{ form_row(form.email, { "label": "Correo electrónico", "attr": { "placeholder": "Introducir su correo electrónico" }}) }}
    {{ form_row(form.password, { "label": "Contraseña", "attr": { "placeholder": "Elegir una contraseña" }}) }}
    {{ form_row(form.confirm_password, { "label": "Confirmar contraseña", "attr": { "placeholder": "Volver a escribir la misma contraseña" }}) }}
    
    <button type="submit" class="btn btn-success">Registarse</button>
    {{ form_end(form) }}
    
</div>
{% endblock %}
