{% extends 'base.html.twig' %}

{# título de la gráfica de los niveles #}
{% set titulo_graf_nivel = "Número de palabras por nivel de idioma" %}

{# contador de las filas de las palabras del día #}
{% set rowid = 1 %}

{% block title %}Inicio{% endblock %}

{% block body %}

<div class="">
    <!-- título de la sección -->
    <div class="text-center mb-5 mt-5"><h1>¡Bienvenid@ a Vocabuloso!</h1></div>
    
    <!-- Sección Palabras del día -->
    <section class="palabras-dia"> 
        <div class="row mt-4 mb-4">
            <div class="col-12">
                <h3>Palabras del día</h3>
                <p>¿Qué tal estás hoy?</p>
                <p>Tengo para ti una selección de palabras escogidas al azar entre todos los idiomas presentes en la aplicación. Prueba a ver si te sabes algunas de las traducciones.
                    Puedes ver la solución haciendo clic sobre cada casilla con un punto de interrogación.
                </p>
                <p>¡Suerte!</p>
            </div>
        </div>
        
        <!-- tabla con las palabras del día -->
        <table id="table-palabras-dia" class="table table-hover">
        {% for palabras in palabras_dia %}
            <tr {% if loop.index is divisible by(2) %} 
                    class="" 
                {% else %}
                    class=""
                {% endif %} >
                <td class="palabra-a-traducir">{{ palabras.palabra1 }}</td>
                <td class="idioma-traduccion"><img  class="bandera-mini" src="/images/{{ palabras.idioma2 }}"/></td>
                <td class="palabra-traducida"><span class="resultado">{{ palabras.palabra2 }}</span><span class="misterio"><i class="fa fa-question-circle fa-2x"></i></span></td>
            </tr>
        {% endfor %}
        </table>
    </section>
    
    <!-- Mostrar la gráfica en pantalla -->
    <div id="graf-nivel" class="row"><h3 id="titulo-graf-nivel">{{ titulo_graf_nivel }}</h3><div id="piechart" class="chart"></div></div>


</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

    var data = google.visualization.arrayToDataTable([        
        ['Nivel', 'Porcentaje'],
        {% for nivel in graf_nivel %}
            {{ "['" }} {{nivel.nombre}} {{ "'," }} {{nivel.valor}} {{"],"}}           
        {% endfor %}
    ]);
    
    var options = {
        titleTextStyle: { 
            color: '#035099',
            fontSize: 18
        },
        chartArea:{
            left: 100, 
            top: 50,
            width: '100%',
            height:'100%'
        },
        colors: ['#035099', '#b4ba6e', '#a349a4', '#2fa4e7', '#bbb', '#444', '#ffdfed']
    };
    
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    
    chart.draw(data, options);
}
    // mostrar símbolo del cursor cuando se pasa el ratón por encima de los puntos de interrogación
    $(".misterio").on("mouseover", function(){
        $(this).css("cursor", "pointer");
    });
    
    // cuando se hace clic en los puntos de interrrogación se muestra la respuesta
    $(".misterio").click(function(){
        $(this).css("display", "none");
        $(this).prev().css("display", "inline-block");
    }); 
    
    // se redimensiona la gráfica al redimensionar el ancho de la pantalla
    $(window).resize(function(){
        drawChart();
    });
</script>

{% endblock %}
