{% extends 'base.html.twig' %}

{% block title %}Repasar{% endblock %}

{% block body %}

    {# si hay resultados que mostrar #}
    {% if resultados == true %}
        <!-- título del menú -->
        <h1>Repasar</h1>
        
        <!-- título del listado -->
        <h3>{{ filtros.categoria.nombre }}</h3>
        
        <!-- nivel del listado -->
        <h4>Nivel: <div class="nivel-idioma">{{ filtros.nivel.nombre }}</div></h4>

        <div class="row mb-5 mt-3">
            <!-- idioma de origen -->
            <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma1.bandera }}"/></div>
            
            <!-- idioma de traducción -->
            <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma2.bandera }}"/></div>
        </div>


        {% for key,value in palabras %}

            <div class="row mb-2">
                <!-- contador de traducciones -->
                <span class="linea num-linea inline-block">{{ key + 1 }}</span>
                
                <!-- palabra en el idioma de origen -->
                <div class="col-5 text-center linea">
                    {{ value.p1 }}
                </div>
                
                <!-- palabra en el idioma de traducción -->
                <div class="col-5 text-center linea">
                {{ value.p2 }}   
                </div>
            </div>
        {% endfor %}
        
    {% else %}
        <h1>Listado</h1>
        {{ "no hay resultados para esta selección" }}
    {% endif %}


{% endblock %}



