/* BODY */
body {
    font-size: 18px;
}

/* HEADER */
#logo img {
    /*width: 100%;*/
}

#logo-min {
    position: absolute;
    left: 170px;
}

.nav-link i {
  color: #b4ba6e;
}

.nav-link span {
    display: inline-block;
}

#login-zone span {
  color: #000;
  font-weight: bold;
}

button {
    border: 2px solid #a349a4;
    border-radius: 15px;
    background: #fff;
    width: 140px;
}

/* NAVBAR */
nav {
  min-height: 100px;
  font-size: 16px;
  font-weight: bold;
}

nav img {
  height: 80px;
}

nav .nav-item {
    margin: 0 25px;
}

/* GENERAL */
.bg-violet {
    background: #a349a4;
}

.bg-golden {
    background: #b4ba6e;
}

.bg-white {
    background: #fff;
}

h1 {
    color: #035099;
    margin: 40px 0 30px;
    text-align: center;    
}

h2 {
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    color: #a349a4;
    margin-bottom: 45px;
}

p {
    font-size: 20px;
    margin: 40px 0;
}

label {
    font-weight: bold;
}

button {
    margin-top: 30px;
    background-image: linear-gradient(#a349a4, #a349a4) !important;
    color: #fff;
    font-weight: bold !important;
}

.bandera {
    width: 150px;
    min-height: 100px;
}

.bandera-mini {
    width: 50px;
    min-height: 33px;
}

.contenido {
    margin-bottom: 100px;
}

/* FOOTER */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px;
}

.aviso-legal {
    display: block;
}

.aviso-legal a {
    text-align: center !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
}

.aviso-legal i {
    color: #b4ba6e;
}

/* PÁGINA DE INICIO */
.palabras-dia table {
    
    font-weight: bold;
}

.misterio {
    display: inline-block;
}

.misterio i {
    color: #b4ba6e;
}

.resultado {
    display: none;
}

#table-palabras-dia, #table-lista-tests {
    table-layout: fixed;
    word-wrap: break-word;
}

#table-palabras-dia td, #table-lista-tests td {
    width: 33%;
}

.chart {
    width: 100%; 
    min-height: 350px;
}

#titulo-graf-nivel {
    width: 100%;
}

#graf-nivel {
    margin: 50px 0;
}

/* LISTADO DE REPASO */
.nivel-idioma, .nota-examen {
    display: inline-block;
    width: 60px;
    border-radius: 50px;
    border: 2px solid #b4ba6e;
    height: 60px;
    text-transform: capitalize;
    text-align: center;
    color:#a349a4;
    line-height: 2;
}

/* VER EXÁMEN */
.nota-examen {
    width: 100px;
    height: 100px;
    line-height: 3;   
    padding: 10px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 24px;
}

.buena {
    color: green;
}

.mala {
    color: red;
}

.corregido {
    color: #a349a4;
}

.linea {
    font-weight: bold;
}

.num-linea {
    width: 25px;
    text-align: center;
}

.fecha-hora {
    color: #a349a4;
}

/* LISTA TESTS */
#table-lista-tests {
    margin: 50px 0;
}

#table-lista-tests thead {
    font-weight: bold;
}

.btn-test {
    margin-top: 0 !important;
}


/* MENÚ RESPONSIVE */
@media only screen and (max-width: 975px) {
    #logo-max {
        display: none;
    }
    
    #logo-min {
        display: inline;
    }
}
