{% extends 'base.html.twig' %}

{% block title %}Filtros{% endblock %}

{% block body %}

    {# esta plantilla sirve para encontrar un listado en particular. Se puede diferenciar las acciones entre ver las notas obtenidas o realizar un exámen. #}
    {% if ver %}
        {% set titulo = "Notas" %}
        {% set boton = "Ver Exámenes" %}
        {% set texto = "Para encontrar todos los tests realizados sobre un listado en particular, usa los filtros para localizar primero el listado. 
        Empieza por elegir el idioma original y te saldrán todos los idiomas de traducción que utilizaste.
        Con cada filtro vas afinando la búsqueda hasta conseguir el listado." %}
    {% else %}
        {% set titulo = "Test" %}  
        {% set boton = "Realizar Exámen" %}
        {% set texto = "Si quieres realizar un test sobre un listado en particular, usa los filtros para encontrarlo más rápido. 
        Empieza por elegir el idioma original y te saldrán todos los idiomas de traducción que utilizaste.
        Con cada filtro vas afinando la búsqueda hasta conseguir el listado." %}
    {% endif %}
    
    <!-- título del menú -->
    <h1>{{ titulo }}</h1>
    
    <!-- texto explicativo -->
    <p>{{ texto }}</p>
        
    {# si se trata de un usuario autenticado #}
    {% if conectado %}
        {# formulario #}
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <!-- botón de envío -->
        <button type="submit" class="btn btn-success">{{ boton }}</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#repasar_idioma1').change(function () {
            var idioma1 = $(this);
            var idioma1Val = idioma1.children("option:selected").val(); 
            var accion = window.location.origin + '{{ path("actu_idiomas") }}';
            
            // se manda una petición ajax para actualizar los campos de idioma2.
            $.ajax({
                url: accion,
                type: "GET",
                dataType: "JSON",
                data: {
                    i: idioma1Val
                },
                success: function (idioma2) {
                    var idioma2Select = $("#repasar_idioma2");

                    // se borran las opciones antiguas
                    idioma2Select.html('');
      

              
                    // valor por defecto de los idiomas de traducción
                    idioma2Select.append('<option value>Seleccione un idioma</option>');
                    
                    
                    $.each(idioma2, function (key, idioma) {
                        idioma2Select.append('<option value="' + idioma.id + '">' + idioma.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("Un error occurió mientras se cargaban los datos ...");
                }
            });
        });

        $('#repasar_idioma2').change(function () {
            var idioma1Val = $('#repasar_idioma1').children("option:selected").val();
            var idioma2 = $(this);
            var idioma2Val = idioma2.children("option:selected").val(); 
            var accion2 = window.location.origin + '{{ path("actu_niveles") }}';
            
            // se manda una petición ajax para actualizar los campos de idioma2.
            $.ajax({
                url: accion2,
                type: "GET",
                dataType: "JSON",
                data: {
                    i1: idioma1Val,
                    i2: idioma2Val
                },
                success: function (niveles) {
                    var nivelSelect = $("#repasar_nivel");

                    // se borran las opciones antiguas
                    nivelSelect.html('');
                    
              
                    // valor por defecto de los niveles
                    nivelSelect.append('<option value>Seleccione un nivel</option>');
                    
                    
                    $.each(niveles, function (key, nivel) {
                        nivelSelect.append('<option value="' + nivel.id + '">' + nivel.nombre + '</option>');
                    });
                },
                error: function (err) {
                    alert("Un error occurió mientras se cargaban los datos ...");
                }
            });
        });
        
        $('#repasar_nivel').change(function () {
            var idioma1Val = $('#repasar_idioma1').children("option:selected").val();
            var idioma2Val = $('#repasar_idioma2').children("option:selected").val();
            var nivel = $(this);
            var nivelVal = nivel.children("option:selected").val(); 
            var accionCat = window.location.origin + '{{ path("actu_categorias") }}';
            
            // se manda una petición ajax para actualizar los campos de idioma2.
            $.ajax({
                url: accionCat,
                type: "GET",
                dataType: "JSON",
                data: {
                    i1: idioma1Val,
                    i2: idioma2Val,
                    n: nivelVal
                },
                success: function (categorias) {
                    var categoriaSelect = $("#repasar_categoria");

                    // se borran las opciones antiguas
                    categoriaSelect.html('');
                    

              
                    // valor por defecto de las categorías
                    categoriaSelect.append('<option value>Seleccione una categoria</option>');
                    
                    
                    $.each(categorias, function (key, categoria) {
                        categoriaSelect.append('<option value="' + categoria.id + '">' + categoria.nombre + '</option>');
                    });
                },
                error: function (err) {
                    alert("Un error occurió mientras se cargaban los datos ...");
                }
            });
        });       
    </script>
{% endblock %}

