{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

        <!-- título del menú -->
        <h1>Test</h1>
        
        <!-- título del listado -->
        <h3>{{ filtros.categoria.nombre }}</h3>
        
        <!-- nivel del listado -->
        <h4>Nivel: <div class="nivel-idioma">{{ filtros.nivel.nombre }}</div></h4>

        <div class="row mb-5 mt-3">
            <!-- idioma de origen -->
            <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma1.bandera }}"/></div>
            
            <!-- idioma de traducción -->
            <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma2.bandera }}"/></div>
        </div>


        <!-- formulario del test -->
        {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}
        {% for key,value in form.preguntas %}

            <div class="row mb-2">
                <span class="inline-block" style="width: 25px; text-align: right;">{{ key + 1 }}</span>
                
                <!-- campo palabra de referencia -->
                <div class="col-5">
                    {{ form_widget(value.traduccion) }}

                    <small>{{ form_help(value.traduccion) }}</small>

                    <div class="form-error">
                        {{ form_errors(value.traduccion) }}
                    </div>
                </div>

                <!-- campo respuesta -->
                <div class="col-5">
                {{ form_widget(value.respuesta) }}

                    <small>{{ form_help(value.respuesta) }}</small>

                    <div class="form-error">
                        {{ form_errors(value.respuesta) }}
                    </div>        
                </div>
            </div>

        {% endfor %}
        
        <!-- botón de envío -->
        <button type="submit" class="btn btn-success">Guardar</button>
        {{ form_end(form) }}
{% endblock %}
