{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

        <!-- título del menú -->
        <h1>Test</h1>
        
        <div class="position-relative">
            <!-- título del listado -->
            <div class="text-center"><h2>{{ test.filtros.categoria.nombre }}</h2></div>
            
            <!-- nivel del listado -->
            <h3>Nivel: <div class="nivel-idioma">{{ test.filtros.nivel.nombre }}</div></h3>
            
            <!-- fecha y hora de realización del exámen -->
            <div class="fecha-examen"><div><span class="linea">Fecha: </span><span class="linea fecha-hora"> {{ test.realizado | date('d/m/y') }}</span></div><div><span class="linea">Hora: </span><span class="linea fecha-hora"> {{ test.realizado | date('H:i') }}</span></div></div>

            <!-- nota del exámen -->
            <div class="nota-examen">{{ test.nota | number_format(2,",") }}</div>
        </div>
        
        
        <div class="row mb-5 mt-3 pl-5">
            <!-- idioma de origen -->
            <div class="col-xl-5 text-center"><img class="bandera" src="/images/{{ test.filtros.idioma1.bandera }}"/></div>
            
            <!-- idioma de traducción -->
            <div class="col-xl-5 text-center"><img class="bandera" src="/images/{{ test.filtros.idioma2.bandera }}"/></div>
        </div>


        <!-- preguntas del test -->

        {% for key,value in preguntas %}
            {# si la respuesta es buena se le pone la clase buena sino la clase mala #}
                {% if value.palabra2 == value.respuesta %}
                    {% set clase = "buena" %}
                {% else %}
                    {% set clase = "mala" %}
                {% endif %}
                
            <div class="row mb-2">
                <span class="linea num-linea inline-block">{{ key + 1 }}</span>

                <!-- palabra de referencia -->
                <div class="col-xl-5 text-center linea">
                {{ value.palabra1 }}                    
                    <div class="form-error">
                     
                    </div>
                </div>                   
                    
                <!-- respuesta -->
                <div class="col-xl-5 text-center">
                    <span class="linea {{ clase }}">{{ value.respuesta }}</span>
                {# si la respuesta es errónea se enseña la correción #}
                {% if clase == "mala" %}
                    {{ " => " }} 
                    <span class="linea corregido">{{ value.palabra2 }}</span>
                {% endif %}
                    <div class="form-error">
                
                    </div>        
                </div>
            </div>
        {% endfor %}
{% endblock %}
