{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
        <!-- título del menú -->
        <h1>Test</h1>
        
        <!-- título del listado -->
        <h3>{{ filtros.categoria.nombre }}</h3>
        
        <!-- nivel del listado -->
        <h4>Nivel: <div class="nivel-idioma">{{ filtros.nivel.nombre }}</div></h4>

        <!-- tabla con todos los tests realizados sobre este listado -->
        <table id="table-lista-tests" class="table table-hover">
            <thead>
                <tr>
                    <td>Realizado el</td>
                    <td>Nota</td>
                </tr>
            </thead>
            <tbody>
            {% for key,value in tests %}
                <tr>
                    <td>
                        <!-- fecha y hora del exámen -->
                        {{ value.creado | date('d/m/Y') }}{{' a las '}}{{ value.creado | date('H:i') }}
                    </td>
                    <td>
                        <!-- Nota del exámen -->
                        {{ value.nota }}
                    </td>
                    <td>
                        <!-- formulario del test -->
                        <form method="post" action="{{ path("ver_detalles_examen") }}">
                            <!-- campo oculto con el id del test -->
                            <input type="hidden" class="form-control" value="{{ value.id }}" name="testid" >
                            <button type="submit" class="btn btn-info btn-test">Ver Exámen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>        
        </table>
{% endblock %}
