<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Vocabuloso{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" href="/css/style.css"/>
        {% endblock %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function(){ 
                // comprobación para saber que tipo de menú hace falta mostrar
                checkWidth();
                
                // cuando se cambia el ancho de pantalla se verifica que tipo de menu hay que mostrar
                // (baja o alta resolución)
                $(window).resize(function(){
                    checkWidth();
                });
                
                // función que cambia el aspecto del menú en función de si el ancho de 
                // pantalla es inferiro o superior a 975px
                function checkWidth() {
                    if($(window).width()<975){
                        $("#navbarColor02").removeClass("container");
                        $("#logo-max").css("display", "none");
                        $("#logo-min").css("display", "inline");
                        console.log($(window).width());
                    } else {
                        $("#navbarColor02").addClass("container");
                        $("#logo-max").css("display", "inline");
                        $("#logo-min").css("display", "none");
                    }                       
                }
            });
        </script>
    </head>
    <body>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- logo baja resolución -->
                <a id="logo-min" class="navbar-brand" href="/"><img src="/images/pie_proyecto.png"/></a>
            <!-- botón menú -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <!-- logo -->
                <a id="logo-max" class="navbar-brand" href="/"><img src="/images/logo_vocabuloso.png"/></a>
                <ul class="navbar-nav mr-auto">
                    <!-- menú Inicio -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}"><i class="fa fa-home fa-2x"></i>Inicio<span class="sr-only">(current)</span></a>
                    </li>

                    
                    {# mostrar los menús del backend solo cuando el usuario está conectado #}
                    {% if not app.user %}
                        <!-- Iniciar Sesión -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('seguridad_login') }}"><i id="user-login" class="fa fa-user fa-2x"></i><span>Iniciar Sesión</span></a>
                        </li>  
                    {% else %}
                        <!-- menú Nuevo -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('add_filtros') }}"><i class="fa fa-plus-circle fa-2x"></i><span>Nuevo</span></a>
                        </li>  
                        
                        <!-- menú Repasar -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('repasar') }}"><i class="fa fa-file-o fa-2x"></i><span>Repasar</span></a>
                        </li>
                        
                        <!-- menú Test -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('test_filtros') }}"><i class="fa fa-check-square-o fa-2x"></i></i><span>Test</span></a>
                        </li>
                        
                        <!-- menú Notas -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('test_ver_filtros') }}"><i class="fa fa-file-text-o fa-2x"></i></i><span>Notas</span></a>
                        </li>

                        <!-- Cerrar sesión -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('seguridad_logout') }}"><i id="user-logout" class="fa fa-user fa-2x"></i><span>Cerrar Sesión</span></a>
                        </li>
                    {% endif %}                
                </ul>
                
            </div>
        </nav>
        
        <!-- Body -->
        <div class="container contenido">
            {% block body %}{% endblock %}
        </div>
        
        <!-- Footer -->
	<section id="footer" class="bg-dark">
		<div class="container">
			<div class="row text-center aviso-legal">
                            <a href="#"><i class="fa fa-gavel"></i> Aviso Legal</a>
			</div>
		</div>
	</section>
	<!-- fin del Footer -->              
        
        {% block javascripts %}         

        {% endblock %}
    </body>
</html>
