{% extends 'base.html.twig' %}

{% block title %}Añadir vocabulario{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Nuevo Vocabulario</h1>
    <!-- texto explicativo -->
    <p>
        Para añadir un nuevo listado de vocabulario, debe elegir el nombre, el idioma de referencia, el de la traducción, el nivel al que pertenece y el número de palabras que contendrá.
    </p>
    
    {# formulario #}
    {{ form_start(form) }}
    {{ form_row(form.categoria.nombre, { "label": "Categoría", "attr": { "placeholder": "Nombre del listado de vocabulario"}}) }}
    {{ form_row(form.idioma1) }}
    {{ form_row(form.idioma2) }}
    {{ form_row(form.nivel) }}
    {{ form_row(form.cantidad) }}

    <!-- botón de envío del formulario -->
    <button type="submit" class="btn btn-success">Aplicar filtros</button>
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#filtros_idioma1').change(function () {
            var idioma1 = $(this);
            var idioma1Val = idioma1.children("option:selected").val();
            var accion = window.location.origin + '{{ path("actualizar_idiomas") }}';console.log("accion", accion);
            
            // se manda una petición ajax para actualizar los campos de idioma2.
            $.ajax({
                url: accion,
                type: "GET",
                dataType: "JSON",
                data: {
                    i: idioma1Val
                },
                success: function (idioma2) {
                    var idioma2Select = $("#filtros_idioma2");

                    // se borran las opciones antiguas
                    idioma2Select.html('');
              
                    // opción por defecto
                    idioma2Select.append('<option value>Seleccione un idioma</option>');
                                
                    $.each(idioma2, function (key, idioma) {
                        idioma2Select.append('<option value="' + idioma.id + '">' + idioma.name + '</option>');
                    });
                },
                error: function (err) {
                    alert("Un error occurió mientras se cargaban los datos ...");
                }
            });
        });
    </script>
{% endblock %}

