{% extends 'base.html.twig' %}

{% block title %}Añadir vocabulario{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <!-- título Menú -->
    <h1>Nuevo Vocabulario</h1>
    
    <!-- título del listado -->
    <h3>{{ filtros.categoria }}</h3>
    
    <!-- nivel del listado -->
    <h4>Nivel: {{ filtros.nivel }}</h4>
    
    <!-- banderas de los idiomas -->
    <div class="row mb-3 mt-3">
        <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma1 }}"/></div>
        <div class="col-5 text-center"><img class="bandera" src="/images/{{ filtros.idioma2 }}"/></div>
    </div>
    
    <!-- formulario para añadir vocabulario -->
    {{ form_start(form) }}
    {% for key,value in form.traducciones %}

        <!-- índice de cada traducción -->
        <div class="row mb-2">
            <span class="inline-block" style="width: 25px; text-align: right;">{{ key + 1 }}</span>

            <!-- palabra en el idioma de origen -->
            <div class="col-5">
                {{ form_widget(value.palabra1.valor) }}

                <small>{{ form_help(value.palabra1.valor) }}</small>

                <div class="form-error">
                    {{ form_errors(value.palabra1.valor) }}
                </div>
            </div>

            <!-- palabra en el idioma de traducción -->
            <div class="col-5">
            {{ form_widget(value.palabra2.valor) }}

                <small>{{ form_help(value.palabra2.valor) }}</small>

                <div class="form-error">
                    {{ form_errors(value.palabra2.valor) }}
                </div>        
            </div>
        </div>
    {% endfor %}
    
    <!-- botón de envío -->
    <button type="submit" class="btn btn-success">Guardar</button>
    {{ form_end(form) }}
{% endblock %}
